:root {
  --main-color: #ff9800;
}
body {
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 0px 15px;
  margin: auto;
}
/* Start Setting Box */
.Setting-box {
  height: 100vh;
  width: 200px;
  top: 0;
  left: -195px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  transition: 0.8s ease-in-out;
}

.Open {
  left: 0;
}
.Setting-box .Toggle-icon {
  position: absolute;
  width: 35px;
  text-align: center;
  top: 100px;
  right: -35px;
  background-color: #ffffff;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}
.Setting-box .Setting-container {
}
.Setting-box .options-box {
  padding: 20px;
  text-align: center;
  margin-bottom: 0px;
}
.Setting-box .options-box h4 {
  margin: 0;
}
.Setting-box .options-box h4 span {
  color: #333;
  font-weight: bold;
  font-size: 20px;
}
.Setting-box .random-b {
  text-align: center;
  padding: 0px 20px;
}
.Setting-box .random-b h4 {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}
.Setting-box .random-b span {
  width: 40px;
  background-color: #00897b;
  color: #ffffff;
  margin-top: 15px;
  display: inline-block;
  font-size: 14px;
  padding: 3px 5px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
}
.Setting-box .random-b .yes {
}
.Setting-box .random-b .no {
}
.Setting-box .random-b span.active,
.Setting-box .random-b span:hover {
  opacity: 1;
}

/* Color For Childrens */
/* .Setting-box .options-box h4 span:first-child {
  color: #ff9800;
  font-size: 25px;
}
.Setting-box .options-box h4 span:nth-child(2) {
  color: #00c853;
}
.Setting-box .options-box h4 span:nth-child(3) {
  color: #0091ea;
}
.Setting-box .options-box h4 span:nth-child(4) {
  color: #e65100;
}
.Setting-box .options-box h4 span:last-of-type {
  color: #ff1744;
} */

.Setting-box .options-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.Setting-box .options-box .colors-list li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  transition: 0.5s;
}
.Setting-box .options-box .colors-list li.active,
.Setting-box .options-box .colors-list li:hover {
  opacity: 1;
  transform: scale(1.1);
}

.Setting-box .options-box .colors-list li:first-child {
  background-color: #ff9800;
}
.Setting-box .options-box .colors-list li:nth-child(2) {
  background-color: #00c853;
}
.Setting-box .options-box .colors-list li:nth-child(3) {
  background-color: #0091ea;
}
.Setting-box .options-box .colors-list li:nth-child(4) {
  background-color: #e65100;
}
.Setting-box .options-box .colors-list li:last-child {
  background-color: #ff1744;
}

/* End Setting Box */

/* Start Landing Page */
.Landing-page {
  min-height: 100vh;
  background-image: url("../Images/web-design0.jpg");
  background-size: cover;
  position: relative;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.Header-area {
  position: relative;
  z-index: 2;
  color: #ffffff;
  display: flex;
}
.Header-area .Logo {
  padding: 15px 0px;
  flex-grow: 2;
  font-weight: bold;
  font-size: 20px;
}

.Header-area .Links {
  flex-grow: 4;
}

.Header-area .Links ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  font-size: 15px;
}
.Header-area .Links li {
  margin-left: 10px;
}
.Header-area .Links li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
.Header-area .Links li a:hover,
.Header-area .Links .active {
  color: var(--main-color);
}

.Introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
}
.Introduction-text h1 {
  font-size: 2.5em;
  margin-bottom: 0px;
}
.Introduction-text h1 span {
  color: var(--main-color);
}

.Introduction-text p {
  line-height: 2;
  margin-top: 0px;
}

@media screen and (min-width: 600px) {
  .Header-area .Links ul li {
    padding-left: 20px;
    font-size: large;
  }
}
/* End Landing Page */

/* Start About US */
.about-us {
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box {
  flex-grow: 1;
  padding-right: 10px;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-top: 0px;
}
.about-us .info-box p {
  line-height: 1.5;
  color: #767676;
  margin: 0px;
}
.about-us .image-box {
  /* [flex : flex-grow | flex-shrink | flex-basis] */
  flex: 0 0 40%;
  padding: 3px;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.about-us .image-box .background-box {
  background-image: url("/Images/web-design2.jpg");
  background-size: cover;
  border-radius: 3px;
  /* width: 300px;
  height: 200px;
  margin: 0px auto; */
  height: 100%;
}
.about-us .image-box img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .about-us .image-box img {
    /* width: 100%;
    height: 50%; */
  }
}
/* Etart About US */

/* Start Skills */
.skills {
  background-color: #eee;
  padding: 5px 0px;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 50px;
}
.skills .skill-box {
  background-color: #ffff;
  display: flex;
  padding: 15px;
  margin-bottom: 10px;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 120px;
  text-align: center;
}
.skills .skill-box .skill-progress {
  width: 100%;
  height: 20px;
  background-color: #f5f4f4;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.skills .skill-box .skill-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  transition: width 3s ease-out;
}
/* Etart Skills */

/* Start Gallery */

.gallery {
  padding: 50px 0px;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 50px;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 250px;
  height: 150px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
/* Fatherless Overlay */
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
}

/* Fatherless PopupBox */
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1010;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  margin-top: 0px;
}

.popup-box span {
  position: fixed;
  top: -10px;
  right: -10px;
  font-weight: bold;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 0px 8px 3px 8px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-box img {
  max-width: 100%;
}
/* End Gallery */

/* Start Timeline */

.timeline {
  padding: 50px 0px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  border-radius: 3px;
  padding: 2px 5px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before {
  right: -35px; /* [7 leftWidth + 3 border + 25 sheft left] */
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px; /* [7 leftWidth + 3 border + 25 sheft left] */
}
.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  background-color: #ffffff;
  position: absolute;
  top: 20px;
}

.timeline .timeline-content .content {
  padding: 10px;
  background-color: #ffffff;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0px 0px 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0px;
  line-height: 1.5;
}
.clearFix {
  clear: both;
}

.timeline .timeline-content .left .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 20px;
  right: -20px;
}
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  top: 20px;
  left: -20px;
}
/* Etart Timeline */

/* Start Features */
.features {
  padding: 80px 0px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-top: 0px;
}
.features .feats-box {
  padding: 50px;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 30px;
}
.features .feat-box img {
  width: 96px;
}
.features .feat-box h3 {
  font-size: 20px;
  margin: 15 0px 40px;
  position: relative;
}
.features .feat-box h3::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}
.features .feat-box p {
}
/* End Features */
